:root {
  --colorBrandPrimaryLighter: #a9b8d9;
  --colorBrandPrimaryLight: #5e739f;
  --colorBrandPrimary: #2f4574;
  --colorBrandPrimaryDark: #102249;
  --colorBrandPrimaryDarker: #020b1d;

  --colorBrandSecondaryLighter: #b1aedc;
  --colorBrandSecondaryLight: #6965a6;
  --colorBrandSecondary: #383579;
  --colorBrandSecondaryDark: #17134c;
  --colorBrandSecondaryDarker: #05031e;

  --colorBrandTertiaryLighter: #a4c4d5;
  --colorBrandTertiaryLight: #568197;
  --colorBrandTertiary: #29566e;
  --colorBrandTertiaryDark: #0c3145;
  --colorBrandTertiaryDarker: #01121b;

  --colorBrandHighlightLight: #f2f059;
  --colorBrandHighlight: #dbd950;
  --colorBrandHighlightDark: #d5ca4f;

  --colorLightest: #fff;
  --colorLight: #bce1f5;

  --colorDark: #212121;

  --colorError: #cb2810;

  --colorBland: grey;

  --colorPrimary: #fff;
  --colorSecondary: #000;
  --colorSecondaryLight: #ababab;
  --colorSecondaryLighter: #dddddd;
  --colorSecondaryLightest: #efefef;
  --colorSecondaryInvert: #fff;

  --colorAccentDark: #00962f;
  --colorAccent: #00ca40;
  --colorAccentLight: #06ff55;
  --colorAccentLighter: #a7ffc3;
  --colorAccentInvert: #fff;

  --colorText: #000;
  --colorTextLight: #ababab;

  --colorLink: #00962f;
  --colorLinkHover: #000;
  --colorLinkActive: #000;
}
